@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*
{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background: url("../img/bg2.jpg") no-repeat center bottom/cover;
    height: 100vh;
}

.container
{
    position:relative;
    max-width:420px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow:hidden;
}

.container .forms {
    align-items: center;
    width: 200%;
    height:640px;
    display:flex;
    transition:height 0.2s ease;
}

.container.active .login {
    margin-left:-50%;
    opacity:0;
    transition:margin-left 0.18s ease, opacity 0.15 ease;
}

.container.signup {
    opacity: 0;
    transition:opacity 0.09s ease;
}

.container.active .signup {
    opacity: 0;
    transition:opacity 0.2s ease;
}

.container .form {
    padding: 30px;
    width:50%;
    background-color:#fff;
    transition: margin-left 0.18s ease;
}

.container.active .forms {
    height:600px;
}

.container .form .title{
    position: relative;
    font-size:30px;
    font-weight:600;

}

.form .title::before{
    content: '';
    position: absolute;
    right: 2px;
    bottom: -5px;
    height: 4px;
    width: 250px;
    background-color: #ffa800;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top:30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color:#ffa800;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffa800;
    font-size: 23px;
}

.input-field input:is(:focus, :valid) ~ i{
    border-bottom-color:#ffa800;
}

.input-field i.icon
{
    left:0;
}

.input-field i.showHidePw
{
    right:0;
    cursor:pointer;
    padding:10px;
}

.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #ffa800;
}

.form .text{
    color: #333;
    font-size:14px;
}

.form a.text{
    color:#ffa800;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
    cursor: pointer;
}

.form .button input
{
    border: none;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
    border-radius: 10px;
    background-color:#ffa800;
    cursor: pointer;
}

.form .button input
{
    border: none;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
    border-radius: 10px;
    background-color:#ffa800;
    cursor: pointer;
}

.form .submit 
{
    border: none;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;
    border-radius: 10px;
    background-color:#ffa800;
    cursor: pointer;
}

.login-signup
{
    margin-top: 30px;
    text-align: center;
}

.btnEnter
{
    border: none;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2px;
    border-radius: 10px;
    background-color:#ffa800;
    color: white;
    width:100%;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    cursor: pointer;
}

.errorsuccess
{
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}


.form .content
{
    text-align: center;
    margin-top: -100px;
    
}

.register
{
    text-align: center;
}

.error
{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid red;
    color: black;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}